<head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/door/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


</head>


<body>
  <div id="colorstrip"/>
    <br>


 <h1>{{ room }}</h1>
    <div class="column">
      </div>
    <div class="row">
      <div class="column">
        <img class="resize" src="/static/{{room}}.png" alt="Code">
      </div>
      <div class="column">
      <table class = "table table-striped" id = "table" >
                <th>Start:</th>
                <th>End:</th>
                <th>Status:</th>
                {%for info in info %}
                </tr>
                    <td>{{info.start | dateFormat}}</td>
                    <td>{{info.end | dateFormat}}</td>
                    <td>{{info.confirmed | confirmed}}</td>
                </tr>
                {% endfor %}
      </table>
      </div>
 </div>



</body>
<div id="strip"/>